repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

